@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root{
    --very-dark-blue:hsl(233, 47%, 7%);
    --dark-desaturated-blue:hsl(244, 38%, 16%);
    --soft-violet:hsl(277, 64%, 61%);
    --trans-para-white: hsla(0, 0%, 100%, 0.75);
    --trabs-heading-white: hsla(0, 0%, 100%, 0.6);
    --inter: 'Inter', sans-serif;
    --lexend: 'Lexend Deca', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 15px;
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--very-dark-blue);
}
.preview-container{
    background-color: var(--dark-desaturated-blue);
    width: 1000px;
    height: 400px;
    margin: 150px auto;
    display: flex;

}
.img-container{
    background-color: hsl(283, 100%, 21%);
}
.img-preview{
    height: 400px;
    width: 500px;
    opacity: 50%;
}

.preview-content{
    color: white;
    width: 500px;
    font-family: var(--inter);
}
.pre-heading{
    width: 400px;
    font-size: 30px;
    padding: 60px 0 0 60px;
    line-height: 40px;
    padding-bottom: 25px;
}
.span-hightlight{
    color: var(--soft-violet);
}
.pre-desr{
    width: 450px;
    line-height: 25px;
    padding: 0 50px 50px 50px;
    font-weight: 400;
    color: var(--trabs-heading-white);
}
.feature-lists{
    display: flex;
}
.feature-lists .feature-items{
    list-style: none;
    padding: 30px 20px 0 50px;
}
.feature-items .span{
    font-size: 12px;
    color: var(--trans-para-white);
    font-family: var(--lexend);
}

@media screen and (max-width: 1440px) {
    .preview-container{
        width: 350px;
        height: auto;
        margin: 50px auto;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 10px 10px 10px 10px;
    }
    .preview-content{
        width: 350px;
        height: 450px;
        display: block;
    }
    .pre-heading{
        padding: 30px 35px 15px 35px;
        font-size: 26px;
        text-align: center;
        width: 320px;
        height: auto;
        display: block;
        margin: 0 auto;
        line-height: 32px;
    }
    .pre-desr{
        font-size: 14px;
        width: 350px;
        text-align: center;
        height: 125px;
        font-family: var(--lexend);
    }
    .img-preview{
        width: 350px;
        height: 250px;
        object-fit: cover;
        margin: 0;
        padding: 0;
        border-radius: 10px 10px 0 0;
    }
    .img-container{
        display: block;
        width: 350px;
        margin: 0 auto;
        padding: 0;

    }
    .feature-lists{
        display: flex;
        margin-top: -20px;
        flex-direction: column;
    }
    .feature-lists .feature-items{
        font-size: 18px;
        width: 250px;
        height: 80px;
        text-align: center;
        padding: 20px 25px;
        font-weight: bold;
        display: inline-block;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .span{
    padding-top: 10px;
    font-size: 12px;
    color: var(--trabs-heading-white);
    font-family: var(--lexend);
    font-weight: normal;
    }
}